
<div class="container push-down-3">
  <h1>All podcasts</h1>
  <div class="row push-down-2">
    <% @podcasts.each do |podcast| %>
      <div class="col-md-3">
        <div class="ep-list-item">
          <a href="<%= podcast_url(podcast) %>"><img class="best-of-week" src="<%= podcast.image_url %>" alt="<%= podcast.name %>"></a>
          <p><%= truncate(podcast.desc, length: 300) %></p>
        </div>
      </div>
    <% end %>


  </div>

</div>

